In [3]:
import pandas as pd
import talib as TA
import pandas_ta as ta
from backtesting import Strategy, Backtest

In [4]:
'''
This strategy takes into account RSI for entry signals and a exponential moving average for trend detection.
is intended to be used with a 15m timeframe, but can be used with any timeframe, just test it out.
The backtest is done with backtesting.py and is intended to throw the results from it, the results are going to be optimized.
'''

'\nThis strategy takes into account RSI for entry signals and a exponential moving average for trend detection.\nis intended to be used with a 15m timeframe, but can be used with any timeframe, just test it out.\nThe backtest is done with backtesting.py and is intended to throw the results from it, the results are going to be optimized.\n'

READ & CLEAN THE DATA SET

In [5]:
df = pd.read_csv('data_sets/EURUSD_Candlestick_15_M_BID_09.04.2004-04.04.2022.csv')
df = df[df['Volume']!=0]
df.drop(columns=['Unnamed: 0'], inplace=True)
df.reset_index(drop=True, inplace=True)
df

,Local time,Open,High,Low,Close,Volume
0,09.04.2004 00:00:00.000 GMT-0500,1.20722,1.20820,1.20689,1.20794,7953.20
1,09.04.2004 00:15:00.000 GMT-0500,1.20796,1.20855,1.20752,1.20824,7377.60
2,09.04.2004 00:30:00.000 GMT-0500,1.20817,1.20838,1.20767,1.20790,8624.70
3,09.04.2004 00:45:00.000 GMT-0500,1.20807,1.20834,1.20719,1.20820,6816.70
4,09.04.2004 01:00:00.000 GMT-0500,1.20780,1.20941,1.20773,1.20888,8339.30
...,...,...,...,...,...,...
449188,04.04.2022 17:45:00.000 GMT-0500,1.09742,1.09742,1.09717,1.09724,154.88
449189,04.04.2022 18:00:00.000 GMT-0500,1.09727,1.09735,1.09716,1.09722,148.93
449190,04.04.2022 18:15:00.000 GMT-0500,1.09722,1.09730,1.09710,1.09723,199.63
449191,04.04.2022 18:30:00.000 GMT-0500,1.09723,1.09761,1.09722,1.09745,184.76
449192,04.04.2022 18:45:00.000 GMT-0500,1.09746,1.09757,1.09726,1.09749,254.23

CALCULATION OF ATR

In [27]:
df['ATR']= df.ta.atr()
df.dropna()

,Local time,Open,High,Low,Close,Volume,ATR
14,09.04.2004 03:30:00.000 GMT-0500,1.20985,1.21044,1.20958,1.21003,7926.80,0.000984
15,09.04.2004 03:45:00.000 GMT-0500,1.21006,1.21028,1.20971,1.20992,7808.30,0.000955
16,09.04.2004 04:00:00.000 GMT-0500,1.20992,1.21054,1.20966,1.21014,7662.80,0.000949
17,09.04.2004 04:15:00.000 GMT-0500,1.21020,1.21087,1.20967,1.20989,8012.90,0.000967
18,09.04.2004 04:30:00.000 GMT-0500,1.20991,1.21104,1.20950,1.20987,7636.50,0.001008
...,...,...,...,...,...,...,...
449188,04.04.2022 17:45:00.000 GMT-0500,1.09742,1.09742,1.09717,1.09724,154.88,0.000410
449189,04.04.2022 18:00:00.000 GMT-0500,1.09727,1.09735,1.09716,1.09722,148.93,0.000394
449190,04.04.2022 18:15:00.000 GMT-0500,1.09722,1.09730,1.09710,1.09723,199.63,0.000380
449191,04.04.2022 18:30:00.000 GMT-0500,1.09723,1.09761,1.09722,1.09745,184.76,0.000381
449192,04.04.2022 18:45:00.000 GMT-0500,1.09746,1.09757,1.09726,1.09749,254.23,0.000376

SLICING THE DATASET

In [22]:
#60% of the dataset
df60 = df[0:270000]  
#40% of the dataset
df40 = df[270000:449192]  
df60.dropna()

,Local time,Open,High,Low,Close,Volume,ATR
14,09.04.2004 03:30:00.000 GMT-0500,1.20985,1.21044,1.20958,1.21003,7926.80,0.000984
15,09.04.2004 03:45:00.000 GMT-0500,1.21006,1.21028,1.20971,1.20992,7808.30,0.000955
16,09.04.2004 04:00:00.000 GMT-0500,1.20992,1.21054,1.20966,1.21014,7662.80,0.000949
17,09.04.2004 04:15:00.000 GMT-0500,1.21020,1.21087,1.20967,1.20989,8012.90,0.000967
18,09.04.2004 04:30:00.000 GMT-0500,1.20991,1.21104,1.20950,1.20987,7636.50,0.001008
...,...,...,...,...,...,...,...
269995,27.01.2015 03:15:00.000 GMT-0500,1.12888,1.12908,1.12744,1.12870,3291.62,0.001152
269996,27.01.2015 03:30:00.000 GMT-0500,1.12871,1.13212,1.12796,1.13066,4358.08,0.001367
269997,27.01.2015 03:45:00.000 GMT-0500,1.13067,1.13453,1.13056,1.13370,4807.05,0.001553
269998,27.01.2015 04:00:00.000 GMT-0500,1.13370,1.13401,1.13057,1.13192,4516.26,0.001688
269999,27.01.2015 04:15:00.000 GMT-0500,1.13192,1.13247,1.13051,1.13080,3302.44,0.001707

BACKTEST ATR RELATED SL&TP

In [25]:
class MyStrat(Strategy):
    initsize = 0.08
    mysize = initsize
    ema_window = 200
    rsi_window = 2
    
    def init(self):
        super().init()
        self.ema = self.I(TA.EMA, self.data.Close, self.ema_window)
        self.rsi = self.I(TA.RSI, self.data.Close, self.rsi_window)        

    def next(self):
        super().next()
        slatr = 1.2*self.data.ATR[-1]
        TPSLRatio = 1.5
        price = self.data.Close[-1] 
        
        if self.position:
            self.position.close()
            
        if self.data.Close >= self.ema and self.rsi <= 10:
            sl1 = price - slatr
            tp1 = price + slatr*TPSLRatio
            
            self.buy(sl=sl1, tp=tp1, size = self.mysize)
            
        if self.data.Close <= self.ema and self.rsi >= 90:
            sl2 = price + slatr
            tp2 = price - slatr*TPSLRatio
            
            self.sell(sl=sl2, tp=tp2, size = self.mysize)

bt = Backtest(df40, MyStrat, cash=500, margin=1/50, commission=0.00, trade_on_close=True)
stat = bt.run()
print(stat)
plot = bt.plot(plot_volume=False)
print(plot)

/tmp/ipykernel_4385/1683380278.py:33: UserWarning: Data index is not datetime. Assuming simple periods, but `pd.DateTimeIndex` is advised.
  bt = Backtest(df40, MyStrat, cash=500, margin=1/50, commission=0.00, trade_on_close=True)

Start                                270001.0
End                                  449191.0
Duration                             179190.0
Exposure Time [%]                    13.32712
Equity Final [$]                   1786.66356
Equity Peak [$]                   1824.432975
Return [%]                         257.332712
Buy & Hold Return [%]               -3.034132
Return (Ann.) [%]                         0.0
Volatility (Ann.) [%]                     NaN
Sharpe Ratio                              NaN
Sortino Ratio                             NaN
Calmar Ratio                              0.0
Max. Drawdown [%]                   -9.062503
Avg. Drawdown [%]                   -0.516836
Max. Drawdown Duration                15215.0
Avg. Drawdown Duration             302.015238
# Trades                              15239.0
Win Rate [%]                        52.949669
Best Trade [%]                       0.593064
Worst Trade [%]                     -0.305406
Avg. Trade [%]                       0.002119
Max. Trade Duration                       1.0
Avg. Trade Duration                       1.0
Profit Factor                        1.150945
Expectancy [%]                       0.002129
SQN                                  6.088296
_strategy                             MyStrat
_equity_curve                         Equi...
_trades                          Size  Ent...
dtype: object
Row(id='3505', ...)

/usr/bin/sensible-browser: 8: /mnt/c/Program: not found
[5655:5692:0405/173719.388334:ERROR:bus.cc(397)] Failed to connect to the bus: Failed to connect to socket /var/run/dbus/system_bus_socket: No such file or directory
[5655:5692:0405/173719.388510:ERROR:bus.cc(397)] Failed to connect to the bus: Failed to connect to socket /var/run/dbus/system_bus_socket: No such file or directory
[5655:5691:0405/173719.393691:ERROR:bus.cc(397)] Failed to connect to the bus: Could not parse server address: Unknown address type (examples of valid types are "tcp" and on UNIX "unix")
[5655:5691:0405/173719.393768:ERROR:bus.cc(397)] Failed to connect to the bus: Could not parse server address: Unknown address type (examples of valid types are "tcp" and on UNIX "unix")
[5655:5691:0405/173719.408263:ERROR:bus.cc(397)] Failed to connect to the bus: Could not parse server address: Unknown address type (examples of valid types are "tcp" and on UNIX "unix")
[5655:5691:0405/173719.408358:ERROR:bus.cc(397)] Failed to connect to the bus: Could not parse server address: Unknown address type (examples of valid types are "tcp" and on UNIX "unix")
[5655:5691:0405/173719.449674:ERROR:bus.cc(397)] Failed to connect to the bus: Could not parse server address: Unknown address type (examples of valid types are "tcp" and on UNIX "unix")
[5655:5691:0405/173719.449747:ERROR:bus.cc(397)] Failed to connect to the bus: Could not parse server address: Unknown address type (examples of valid types are "tcp" and on UNIX "unix")
[5655:5756:0405/173719.522501:ERROR:bus.cc(397)] Failed to connect to the bus: Failed to connect to socket /var/run/dbus/system_bus_socket: No such file or directory
[5655:5756:0405/173719.522580:ERROR:bus.cc(397)] Failed to connect to the bus: Failed to connect to socket /var/run/dbus/system_bus_socket: No such file or directory
[5655:5756:0405/173719.522623:ERROR:bus.cc(397)] Failed to connect to the bus: Failed to connect to socket /var/run/dbus/system_bus_socket: No such file or directory
[5655:5756:0405/173719.522695:ERROR:bus.cc(397)] Failed to connect to the bus: Failed to connect to socket /var/run/dbus/system_bus_socket: No such file or directory
[5655:5756:0405/173719.522749:ERROR:bus.cc(397)] Failed to connect to the bus: Failed to connect to socket /var/run/dbus/system_bus_socket: No such file or directory
[5698:5698:0405/173721.423917:ERROR:sandbox_linux.cc(377)] InitializeSandbox() called with multiple threads in process gpu-process.

OPTIMIZATION

In [ ]:
# Since Optimization takes some time to analize the data, I already have done it and the best parameters are: EMA=200, RSI=2

# stats = bt.optimize(
#     ema_window = [50, 200],
#     rsi_window = range(2, 4),
#     maximize = 'Equity Final [$]',
# )
# print(stats)
# print(stats._strategy)
# bt.plot(plot_volume=False, plot_pl=False)

/usr/bin/sensible-browser: 8: /mnt/c/Program: not found

Backtest.optimize:   0%|          | 0/6 [00:00<?, ?it/s]

[1827:1870:0404/202138.039130:ERROR:bus.cc(397)] Failed to connect to the bus: Failed to connect to socket /var/run/dbus/system_bus_socket: No such file or directory
[1827:1870:0404/202138.039316:ERROR:bus.cc(397)] Failed to connect to the bus: Failed to connect to socket /var/run/dbus/system_bus_socket: No such file or directory
[1827:1869:0404/202138.044233:ERROR:bus.cc(397)] Failed to connect to the bus: Could not parse server address: Unknown address type (examples of valid types are "tcp" and on UNIX "unix")
[1827:1869:0404/202138.044314:ERROR:bus.cc(397)] Failed to connect to the bus: Could not parse server address: Unknown address type (examples of valid types are "tcp" and on UNIX "unix")
[1827:1869:0404/202138.071298:ERROR:bus.cc(397)] Failed to connect to the bus: Could not parse server address: Unknown address type (examples of valid types are "tcp" and on UNIX "unix")
[1827:1869:0404/202138.071356:ERROR:bus.cc(397)] Failed to connect to the bus: Could not parse server address: Unknown address type (examples of valid types are "tcp" and on UNIX "unix")
[1827:1869:0404/202138.173100:ERROR:bus.cc(397)] Failed to connect to the bus: Could not parse server address: Unknown address type (examples of valid types are "tcp" and on UNIX "unix")
[1827:1869:0404/202138.173162:ERROR:bus.cc(397)] Failed to connect to the bus: Could not parse server address: Unknown address type (examples of valid types are "tcp" and on UNIX "unix")
[1827:1945:0404/202138.361889:ERROR:bus.cc(397)] Failed to connect to the bus: Failed to connect to socket /var/run/dbus/system_bus_socket: No such file or directory
[1827:1945:0404/202138.362046:ERROR:bus.cc(397)] Failed to connect to the bus: Failed to connect to socket /var/run/dbus/system_bus_socket: No such file or directory
[1827:1945:0404/202138.362149:ERROR:bus.cc(397)] Failed to connect to the bus: Failed to connect to socket /var/run/dbus/system_bus_socket: No such file or directory
[1827:1945:0404/202138.362238:ERROR:bus.cc(397)] Failed to connect to the bus: Failed to connect to socket /var/run/dbus/system_bus_socket: No such file or directory
[1827:1945:0404/202138.362300:ERROR:bus.cc(397)] Failed to connect to the bus: Failed to connect to socket /var/run/dbus/system_bus_socket: No such file or directory
[1827:1865:0404/202143.336277:ERROR:chrome_browser_main_extra_parts_metrics.cc(227)] START: ReportBluetoothAvailability(). If you don't see the END: message, this is crbug.com/1216328.
[1827:1865:0404/202143.336344:ERROR:chrome_browser_main_extra_parts_metrics.cc(230)] END: ReportBluetoothAvailability()
[1876:1876:0404/202148.001172:ERROR:sandbox_linux.cc(377)] InitializeSandbox() called with multiple threads in process gpu-process.

Start                                     0.0
End                                   74762.0
Duration                              74762.0
Exposure Time [%]                   13.148215
Equity Final [$]                  5034.860812
Equity Peak [$]                   5509.687085
Return [%]                         906.972162
Buy & Hold Return [%]               -2.978043
Return (Ann.) [%]                         0.0
Volatility (Ann.) [%]                     NaN
Sharpe Ratio                              NaN
Sortino Ratio                             NaN
Calmar Ratio                              0.0
Max. Drawdown [%]                  -20.370547
Avg. Drawdown [%]                   -1.094701
Max. Drawdown Duration                 4344.0
Avg. Drawdown Duration             179.493261
# Trades                               6467.0
Win Rate [%]                        52.605536
Best Trade [%]                        0.47816
Worst Trade [%]                     -0.215474
Avg. Trade [%]                       0.002477
Max. Trade Duration                       1.0
Avg. Trade Duration                  0.901655
Profit Factor                        1.221711
Expectancy [%]                       0.002484
SQN                                  3.727264
_strategy                 MyStrat(ema_wind...
_equity_curve                         Equi...
_trades                          Size  Ent...
dtype: object
MyStrat(ema_window=200,rsi_window=2)

Row(id='2396', ...)

/usr/bin/sensible-browser: 8: /mnt/c/Program: not found
[2201:2238:0404/202203.415737:ERROR:bus.cc(397)] Failed to connect to the bus: Failed to connect to socket /var/run/dbus/system_bus_socket: No such file or directory
[2201:2238:0404/202203.415976:ERROR:bus.cc(397)] Failed to connect to the bus: Failed to connect to socket /var/run/dbus/system_bus_socket: No such file or directory
[2201:2237:0404/202203.421480:ERROR:bus.cc(397)] Failed to connect to the bus: Could not parse server address: Unknown address type (examples of valid types are "tcp" and on UNIX "unix")
[2201:2237:0404/202203.421550:ERROR:bus.cc(397)] Failed to connect to the bus: Could not parse server address: Unknown address type (examples of valid types are "tcp" and on UNIX "unix")
[2201:2237:0404/202203.435965:ERROR:bus.cc(397)] Failed to connect to the bus: Could not parse server address: Unknown address type (examples of valid types are "tcp" and on UNIX "unix")
[2201:2237:0404/202203.436046:ERROR:bus.cc(397)] Failed to connect to the bus: Could not parse server address: Unknown address type (examples of valid types are "tcp" and on UNIX "unix")
[2201:2237:0404/202203.483318:ERROR:bus.cc(397)] Failed to connect to the bus: Could not parse server address: Unknown address type (examples of valid types are "tcp" and on UNIX "unix")
[2201:2237:0404/202203.483378:ERROR:bus.cc(397)] Failed to connect to the bus: Could not parse server address: Unknown address type (examples of valid types are "tcp" and on UNIX "unix")
[2201:2313:0404/202203.607342:ERROR:bus.cc(397)] Failed to connect to the bus: Failed to connect to socket /var/run/dbus/system_bus_socket: No such file or directory
[2201:2313:0404/202203.607462:ERROR:bus.cc(397)] Failed to connect to the bus: Failed to connect to socket /var/run/dbus/system_bus_socket: No such file or directory
[2201:2313:0404/202203.607520:ERROR:bus.cc(397)] Failed to connect to the bus: Failed to connect to socket /var/run/dbus/system_bus_socket: No such file or directory
[2201:2313:0404/202203.607601:ERROR:bus.cc(397)] Failed to connect to the bus: Failed to connect to socket /var/run/dbus/system_bus_socket: No such file or directory
[2201:2313:0404/202203.607853:ERROR:bus.cc(397)] Failed to connect to the bus: Failed to connect to socket /var/run/dbus/system_bus_socket: No such file or directory
[2244:2244:0404/202205.699925:ERROR:sandbox_linux.cc(377)] InitializeSandbox() called with multiple threads in process gpu-process.
[2201:2263:0404/202212.578169:ERROR:chrome_browser_main_extra_parts_metrics.cc(227)] START: ReportBluetoothAvailability(). If you don't see the END: message, this is crbug.com/1216328.
[2201:2263:0404/202212.578227:ERROR:chrome_browser_main_extra_parts_metrics.cc(230)] END: ReportBluetoothAvailability()